<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="myConnectionString" connectionString="Data Source=MICHELANGELO-PC\SQLEXPRESS;Initial Catalog=Socialbook;Integrated Security=True"
        providerName="System.Data.SqlClient" />
   
  </connectionStrings>
</configuration>